<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/css/common.css">
    <script defer src="../styles/fontawesome/js/all.js"></script>
    <title> Button</title>
</head>
<body>
<div style="padding: 100px;">
    <button class="btn"> BASIC </button>
    <button class="btn btn--disabled"> DISABLED </button>
    <button class="btn btn--contained"> RAISED </button>
    <button class="btn btn--depressed"> DEPRESSED </button>
    <button class="btn btn--outline"> OUTLINED </button>
    <button class="btn btn--rounded"> ROUNDED </button>
    <button class="btn btn--text"> TEXT </button>
    <button class="btn btn--tile"> TILE </button>

    <button class="btn btn--float btn--round"><i class="fas fa-hammer"></i></button>
    <button class="btn btn--icon"> <i class="fas fa-edit"></i> </button>
</div>
</body>
</html>