@import "color.css";
@import "ui/drawer.css";
@import "ui/toolbar.css";
@import "ui/button.css";
@import "ui/chip.css";
@import "ui/avatar.css";
@import "ui/icon.css";

/* basic css */
body {
    margin: 0;
}

ul {
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

/* theme css */
.light {
    color: #fff;
}

/* layout css*/
.main__content {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 260px;

}
.container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
}


