@import "../../global/mediaQuery.scss";
.loo-content {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  transition: .2s cubic-bezier(.4,0,.2,1);
}

.main__container {
  align-items: start;
  justify-content: start;
  padding: 0;
  padding-left: 260px;

  &.toggle {
    padding-left: 0;
  }
}

.main__router-view {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  @include xs {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}