@import "../../global/mediaQuery.scss";

.loo-toolbar {
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  transition: transform .2s cubic-bezier(.4,0,.2,1),
              background-color .2s cubic-bezier(.4,0,.2,1),left .2s cubic-bezier(.4,0,.2,1),right .2s cubic-bezier(.4,0,.2,1),
              box-shadow .28s cubic-bezier(.4,0,.2,1),
              max-width .25s cubic-bezier(.4,0,.2,1),
              width .25s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  &.loo-toolbar__container {
    background-color: #01579B;
    color: #fff;
    height: 64px;
    left: 0;
    right: 0;

    .loo-toolbar__content {
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
      padding: 0px 16px;
    }
    
    .loo-toolbar__navIcon {
      color: #FAFAFA;
      cursor: pointer;
    }
    
    .loo-toolbar__title{
      font-size: 1.15rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width:100%;
      text-align: left;
    }
    
    .loo-toolbar__actions {
      flex-grow: 1;
      list-style: none;
      display: flex;
      margin-right: 16px;
    }
    
    .loo-toolbar__list {
      padding: 8px 10px;
      a {
        color:#FAFAFA;
      }
    }
  }
  


}