.loo-btn {
  margin: 10px 1px;
  padding: 10px + 2 15px + 15;
  font-size: 12px;
  font-weight: 400 !important;
  height: auto;
  line-height: 30px;
  color: $white !important;
  cursor: pointer;
  border-radius: 3px;

  &.loo-btn--flat {
    background-color: transparent;
  }

  &.loo-btn--icon {
    width: 41px;
    height: 41px;
    line-height: 41px;
    padding: 0;

    &.loo-btn--round {
      border-radius: 50%;
    }
  }
  
}